* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("images/bluemoonsecrets.png");
  background-color: #000e1c;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
height: 98vh;
}

.header a{
  text-decoration: none;
  color: #8FC1E2;
}

.header a:visited{
  text-decoration: none;
  color: #8FC1E2;
}
.content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  align-self: center;
  text-align: center;
  padding-top: 50px;
  background-color: #318be6;
}
.content p{
  padding-left: 150px;
  padding-right: 150px;
  text-align: justify;
}

img{
  margin: 20px;
}

img:hover {
  box-shadow: 2px 2px 2px black;
}

.content h2{
  padding: 5px;
  margin-bottom: 0px;
}

.content p{
  padding: 20px;
}

h2 {
  font-family: sans-serif;
}
.footer {
  margin: auto;
  bottom: 0;
  width: 75%;
color: white;
}
.footer img {
  float: left;
  overflow: auto;
}

.footer p{
  text-align: center;
}

.footer span .clear {
  content: "";
  display: table;
  clear: both;
}
